{% extends 'base_2.html' %}

{% block title %}
    All courses
{% endblock %}

{% block content %}

{% if courses %}
<table class="table mt-5 table-bordered table-striped  table-hover" >
{#       width='550' border='2' bordercolor='black'#}
{#       cellspacing='1' cellpadding='8' align="center" >#}
    <thead class="table-dark">
        <tr>
            <th>Курси</th>
            <th>Фото</th>
            <th>Категорія</th>
            <th>Вартість</th>
            <th>Кількість судентів</th>
            <th>Kількість відгуків</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    {% for course in courses %}
        <tr>
            <td><a href={% url "shop:single" course.id %}>{{course.title}}</a></td>
            {% if course.foto %}
                <td><img class="card-img-top" src="{{ course.foto.url }}" style ="max-height: 70px;" alt="foto" ></td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{course.category}}</td>
            <td>{{course.price}}</td>
            <td>{{course.students_qty}}</td>
            <td>{{course.reviews_qty}}</td>
            <td><a href={% url "shop: edit" course.id %}><button class="btn btn-primary">Редогувати</button></a></td>
            <td><a href={% url "shop:delete" course.id%}><button  class="btn btn-danger" >Видалити</button></a></td>
        </tr>
        </lo>
    {% endfor %}
    </tbody>

</table>
{% else %}
Даних немає.
{% endif %}

{% endblock %}






